<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Subs</title>
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512"
                        xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <path
                                d="m15 114.235c8.284 0 15-6.716 15-15v-69.235h69.235c8.284 0 15-6.716 15-15s-6.716-15-15-15h-84.235c-8.284 0-15 6.716-15 15v84.235c0 8.285 6.716 15 15 15z" />
                            <path
                                d="m497 0h-84.235c-8.284 0-15 6.716-15 15s6.716 15 15 15h69.235v69.235c0 8.284 6.716 15 15 15s15-6.716 15-15v-84.235c0-8.284-6.716-15-15-15z" />
                            <path
                                d="m497 397.765c-8.284 0-15 6.716-15 15v69.235h-69.235c-8.284 0-15 6.716-15 15s6.716 15 15 15h84.235c8.284 0 15-6.716 15-15v-84.235c0-8.285-6.716-15-15-15z" />
                            <path
                                d="m99.235 482h-69.235v-69.235c0-8.284-6.716-15-15-15s-15 6.716-15 15v84.235c0 8.284 6.716 15 15 15h84.235c8.284 0 15-6.716 15-15s-6.715-15-15-15z" />
                            <path
                                d="m419.66 191.38v-94.73c0-4.7-3.81-8.51-8.52-8.51h-155.14-155.14c-4.71 0-8.52 3.81-8.52 8.51v94.73c0 4.71 3.81 8.52 8.52 8.52h45.24c4.7 0 8.51-3.81 8.51-8.52v-32.45c0-4.71 3.82-8.52 8.52-8.52h53.21c4.71 0 8.52 3.81 8.52 8.52v234.14c0 4.71-3.81 8.52-8.52 8.52h-23.27c-4.71 0-8.52 3.81-8.52 8.52v45.24c0 4.7 3.81 8.51 8.52 8.51h62.93 62.93c4.71 0 8.52-3.81 8.52-8.51v-45.24c0-4.71-3.81-8.52-8.52-8.52h-23.27c-4.71 0-8.52-3.81-8.52-8.52v-234.14c0-4.71 3.81-8.52 8.52-8.52h53.21c4.7 0 8.52 3.81 8.52 8.52v32.45c0 4.71 3.81 8.52 8.51 8.52h45.24c4.71 0 8.52-3.81 8.52-8.52z" />
                        </g>
                    </svg>
                    <strong>YouTube Subs</strong>
                </a>
            </div>
        </div>
    </header>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Hey Kiddo...</h1>
                <p class="lead text-muted">Type in a YouTube URL to check for subtitles</p>
            </div>
        </div>
    </section>
    <div id="app">
        <div class="container text-center">
            <form class="row g-3 mx-auto" style="max-width: 500px" id="form" @submit.prevent="fetchCaption">
                <div class="col-sm-7 offset-lg-2">
                    <input type="text" required class="form-control" placeholder="YouTube URL" name="url"
                        aria-label="URL" v-model="youtubeURL" title="Enter Valid URL"
                        pattern="[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" :disabled="loading" id="btn">
                        <div v-if="loading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </div>
                        <div v-else>
                            Submit
                        </div>
                    </button>
                </div>
            </form>
        </div>

        <div class="container text-center mt-3">
            <h3>${ status }</h3>
            <div class="mx-auto" v-if="completed">
                <a href="{{ url_for('static', filename='file.pdf') }}" class="btn btn-primary" download>Download PDF</a>
                <a class="btn btn-secondary mx-3" href="{{ url_for('static', filename='file.txt') }}" download>Download
                    TXT</a>
            </div>
        </div>
    </div>

    <footer class="footer text-center mt-5">
        Built with love, Python and Flask, &#128151; oluwakayode.
    </footer>


    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
        const mountedApp = app.mount("#app")
    </script>
</body>

</html>